body {
  margin: 0 auto; padding: 0; width: 1200px; height: 100%;
  font-family: sans-serif, serif;
  background-color: black;
  color: white;
  overflow-x: hidden;}
h1 {font-size: 50px}
h5 {color: yellow; font-size: 18}
h4 {font-size: 24}


#container {min-height: 100%; position: relative;}
#body {
  padding-bottom: 60px;
  padding-top: 40px;
}
#title {color: yellow;}
#navigation :hover {background-color: white; color: black}
#navigation {
  background-color: blue;
  font-size: 30;
}
#footer {color: blue; padding-top: 120px; padding-bottom: 20px; height: 60px; width: 100%; bottom:18px ; clear: both;}
a {color: white}
a:active {color: orange}
#winged-list {display: inline-block; padding-left: 5%}
#non-winged-list {display: inline-block; float: right; margin-right: 2cm}
.product-nav :hover {background-color: white; color: black}
.product-nav {
  float: left; padding-bottom: 200px;
  padding-top:2rem; padding-left: 2rem;
  border: 10; border-right: 10; border-style: ridge; border-color: white;
  line-height: double;
  color: yellow; width: 25%; height: 650px;
  }
.product-title {float: left; padding: 2rem; width: 405px; z-index: 1;}
.product-title1 {float: left; padding: 2rem; width: 75%; z-index: 1;}
.product-note {float: right; padding: 2rem; width: 70%}

#product1 {
  float: left;
  padding: 1rem;
  display: inline;
  width: 125px;
  height: 200px;
  border: 2;
  border-color: white;
  position: relative;
}
#product-listing {
  position: relative;
  left: 50px;
}
tr.month > td {
  padding-top: 1em;
  padding-bottom: 1em
}
#about-us{
  padding-left: 25%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-content {
    display: block;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 1rem;
    z-index: 2;
}

.scroll-background {
  position: fixed;
  bottom: 18;
  width: 100%;
  z-index: 1;
  background-color: white;
  height: 15px;
  border-right: 0;
  border-left: 0;
  border-style: solid;
  border-color: red;
}
.next-events {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  color: black;
  white-space: nowrap;
  overflow: hidden;
}
.next-events p {
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  -moz-animation: next-events 30s linear infinite;
  -webkit-animation: next-events 30s linear infinite;
  animation: next-events 30s linear infinite;
}
@-moz-keyframes next-events {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes next-events {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes next-events {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
