body {
  margin: auto; padding: auto; height: 100%;
  font-family: sans-serif, serif;
  width: 1250px;
  background-color: black;
  color: white;
  overflow-x: hidden;}
h1 {font-size: 50px}
h5 {color: yellow; font-size: 18}
h4 {font-size: 24}


#container {min-height: 100%; position: relative;}
#body {
  padding-bottom: 60px;
  padding-top: 60px;
}
#title {color: yellow;}
#navigation :hover {background-color: white; color: black}
#navigation {
  background-color: blue;
  font-size: 30;
}
#footer {color: blue; padding-top: 120px; padding-bottom: 20px; height: 60px; width: 100%; bottom: 20; clear: both;}
a {color: white}
a:active {color: orange}
#winged-list {display: inline-block}
#non-winged-list {display: inline-block; float: right; margin-right: 2cm}
.product-nav :hover {background-color: white; color: black}
.product-nav {
  float: left; padding-bottom: 200px;
  padding-top:2rem; padding-left: 2rem;
  border: 0; border-right: 10; border-style: ridge; border-color: white;
  line-height: double;
  color: yellow; width: 25%; height: 900px;
  }
.product-title {float: left; padding: 2rem; font-size: 24px; width: 405px}
.product-note {float: right; padding: 2rem; width: 70%}

#product1 {float: left; padding: 1rem; display: inline; width: 125px;}
#product-listing {position: relative; left: 50px}
tr.month > td {padding-top: 1em; padding-bottom: 1em}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-content {
    display: block;
    width: 200px;
    background-color: blue;
    color: white;
    font-size: 1rem;
}
