body {background-color: Black; color: white;}
h1, h2, h3, h5 {color: yellow}
h4 {font-size: 24}
h5 {font-size: 18}
table {width: 50%; height: 8%}

#navigation :hover {background-color: white }
#navigation {color: black; background-color: skyblue; font-size: 42}
#footer {color: blue}
a {color: yellow}
a:active {color: white;}
#winged-list {display: inline-block}
#non-winged-list {display: inline-block; float: right; margin-right: 2cm}
